#chat3{
    border-radius: 15px;
}

#page-background{
    background-color:rgb(224, 220, 228);
}

#user-scrollbar{
    position: relative;
    height: 400px;
}

#chat-scrollbar{
    position: relative;
    height: 400px;
}

#avatar{
    width: 40px;
    height: 100%;
}

#reply{
    background-color: lightgray;
}

   
.nav-link{
    color: aliceblue;
    text-decoration: none;
}
