body{
  background-color:rgb(224, 220, 228);
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.h1{
  font-family: monospace;
}

.btn{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

#loginButton{
  color: aliceblue;
  text-decoration: none;
}